/* main */

.section1 {
    margin-top: 100px;
}

.banner {
    padding: 0px 100px;
}

.banner-container {
    width: 100%;
    height: 200px; 
}

.banner-container img , .banner-container2 img , .bank-offer img , .off-code img , .explore-banner img , 
.download-banner img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

.banner-container2 {
    width: 100%;
    height: 344px;
    display: flex;
    gap: 0px;
}

.bank-offer {
    width: 100%;
    height: 133px;
}

.off-code {
    width: 100%;
    height: 135px;
    display: flex;
    gap: 0px;
}

.explore-banner {
    width: 100%;
    height: 116px;
}

.download-banner {
    width: 100%;
    height: 239px;
}

/* product cards */

.product-card {
    padding: 0px 100px;
}

.card-container {
    width: 100%;
    height: 285px;
    display: flex;
    gap: 0px;
}

.card-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-container:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 285px;
}

.card-container:last-child img {
    width: auto;
    height: 100%;
    object-fit: cover;
}